In [75]:
import pandas as pd
import plotly
import streamlit

In [ ]:
df_all_16SG = pd.read_csv('CV_vs_HE_vs_WA_genero_16S_clear.tsv', sep='\t')

In [77]:
print(df_all_16SG.info())
display(df_all_16SG.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 89 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Level_1                                     541 non-null    object
 1   Level_2                                     541 non-null    object
 2   Level_3                                     541 non-null    object
 3   Level_4                                     541 non-null    object
 4   Level_5                                     541 non-null    object
 5   Level_6                                     541 non-null    object
 6   p-values                                    541 non-null    float64
 7   p-values (corrected)                        541 non-null    float64
 8   Effect size                                 541 non-null    float64
 9   Note                                        0 non-null      float64
 10  CV: mean rel. freq. (%)                     541 non-null    float64
 11  CV: std. dev. (%)                           541 non-null    float64
 12  HE: mean rel. freq. (%)                     541 non-null    float64
 13  HE: std. dev. (%)                           541 non-null    float64
 14  WA: mean rel. freq. (%)                     541 non-null    float64
 15  WA: std. dev. (%)                           541 non-null    float64
 16  CrassostreavirginicaG1                      541 non-null    float64
 17  CrassostreavirginicaG1: parent seq. count   541 non-null    float64
 18  CrassostreavirginicaG1: rel. freq. (%)      541 non-null    float64
 19  CrassostreavirginicaG10                     541 non-null    float64
 20  CrassostreavirginicaG10: parent seq. count  541 non-null    float64
 21  CrassostreavirginicaG10: rel. freq. (%)     541 non-null    float64
 22  CrassostreavirginicaG2                      541 non-null    float64
 23  CrassostreavirginicaG2: parent seq. count   541 non-null    float64
 24  CrassostreavirginicaG2: rel. freq. (%)      541 non-null    float64
 25  CrassostreavirginicaG3                      541 non-null    float64
 26  CrassostreavirginicaG3: parent seq. count   541 non-null    float64
 27  CrassostreavirginicaG3: rel. freq. (%)      541 non-null    float64
 28  CrassostreavirginicaG4                      541 non-null    float64
 29  CrassostreavirginicaG4: parent seq. count   541 non-null    float64
 30  CrassostreavirginicaG4: rel. freq. (%)      541 non-null    float64
 31  CrassostreavirginicaG5                      541 non-null    float64
 32  CrassostreavirginicaG5: parent seq. count   541 non-null    float64
 33  CrassostreavirginicaG5: rel. freq. (%)      541 non-null    float64
 34  CrassostreavirginicaG6                      541 non-null    float64
 35  CrassostreavirginicaG6: parent seq. count   541 non-null    float64
 36  CrassostreavirginicaG6: rel. freq. (%)      541 non-null    float64
 37  CrassostreavirginicaG7                      541 non-null    float64
 38  CrassostreavirginicaG7: parent seq. count   541 non-null    float64
 39  CrassostreavirginicaG7: rel. freq. (%)      541 non-null    float64
 40  CrassostreavirginicaG8                      541 non-null    float64
 41  CrassostreavirginicaG8: parent seq. count   541 non-null    float64
 42  CrassostreavirginicaG8: rel. freq. (%)      541 non-null    float64
 43  CrassostreavirginicaG9                      541 non-null    float64
 44  CrassostreavirginicaG9: parent seq. count   541 non-null    float64
 45  CrassostreavirginicaG9: rel. freq. (%)      541 non-null    float64
 46  HecesP10                                    541 non-null    float64
 47  HecesP10: parent seq. count                 541 non-null    float64
 48  HecesP10: rel. freq. (%)                    541 non-null    float64
 49  HecesP11                                    541 non-null    float64
 50  HecesP11: parent seq. count                 541 non-null    float64
 51  HecesP11: rel. freq. (%)                    541 non-null    float64
 52  HecesP12                                    541 non-null    float64
 53  HecesP12: parent seq. count                 541 non-null    float64
 54  HecesP12: rel. freq. (%)                    541 non-null    float64
 55  HecesP13                                    541 non-null    float64
 56  HecesP13: parent seq. count                 541 non-null    float64
 57  HecesP13: rel. freq. (%)                    541 non-null    float64
 58  HecesP14                                    541 non-null    float64
 59  HecesP14: parent seq. count                 541 non-null    float64
 60  HecesP14: rel. freq. (%)                    541 non-null    float64
 61  HecesP6                                     541 non-null    float64
 62  HecesP6: parent seq. count                  541 non-null    float64
 63  HecesP6: rel. freq. (%)                     541 non-null    float64
 64  HecesP7                                     541 non-null    float64
 65  HecesP7: parent seq. count                  541 non-null    float64
 66  HecesP7: rel. freq. (%)                     541 non-null    float64
 67  HecesP8                                     541 non-null    float64
 68  HecesP8: parent seq. count                  541 non-null    float64
 69  HecesP8: rel. freq. (%)                     541 non-null    float64
 70  HecesP9                                     541 non-null    float64
 71  HecesP9: parent seq. count                  541 non-null    float64
 72  HecesP9: rel. freq. (%)                     541 non-null    float64
 73  AguaP1                                      541 non-null    float64
 74  AguaP1: parent seq. count                   541 non-null    float64
 75  AguaP1: rel. freq. (%)                      541 non-null    float64
 76  AguaP2                                      541 non-null    float64
 77  AguaP2: parent seq. count                   541 non-null    float64
 78  AguaP2: rel. freq. (%)                      541 non-null    float64
 79  AguaP3                                      541 non-null    float64
 80  AguaP3: parent seq. count                   541 non-null    float64
 81  AguaP3: rel. freq. (%)                      541 non-null    float64
 82  AguaP4                                      541 non-null    float64
 83  AguaP4: parent seq. count                   541 non-null    float64
 84  AguaP4: rel. freq. (%)                      541 non-null    float64
 85  AguaP5                                      541 non-null    float64
 86  AguaP5: parent seq. count                   541 non-null    float64
 87  AguaP5: rel. freq. (%)                      541 non-null    float64
 88  Unnamed: 88                                 0 non-null      float64
dtypes: float64(83), object(6)
memory usage: 376.3+ KB
None

,Level_1,Level_2,Level_3,Level_4,Level_5,Level_6,p-values,p-values (corrected),Effect size,Note,...,AguaP3,AguaP3: parent seq. count,AguaP3: rel. freq. (%),AguaP4,AguaP4: parent seq. count,AguaP4: rel. freq. (%),AguaP5,AguaP5: parent seq. count,AguaP5: rel. freq. (%),Unnamed: 88
0,Archaea,Euryarchaeota,Methanobacteria,Methanobacteriales,Methanobacteriaceae,Methanobrevibacter,1.781406e-01,1.781406e-01,0.151515,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,NaN
1,Bacteria,Actinobacteria,Actinobacteria,Actinomycetales,Actinomycetaceae,Actinomyces,0.000000e+00,0.000000e+00,1.000000,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,NaN
2,Bacteria,Proteobacteria,Gammaproteobacteria,Alteromonadales,Pseudoalteromonadaceae,Pseudoalteromonas,5.517364e-65,5.517364e-65,0.999999,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,NaN
3,Bacteria,Proteobacteria,Gammaproteobacteria,Chromatiales,Chromatiaceae,Rheinheimera,2.048128e-53,2.048128e-53,0.999990,NaN,...,893.0,893.0,100.0,1.0,1.0,100.0,556.0,558.0,99.641577,NaN
4,Bacteria,Bacteroidetes,Bacteroidia,Bacteroidales,Porphyromonadaceae,Barnesiella,2.078080e-15,2.078080e-15,0.960035,NaN,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.000000,NaN

In [78]:
df_all_16SG = df_all_16SG[['p-values','Level_6', 'CV: mean rel. freq. (%)', 'HecesP6: rel. freq. (%)', 'HecesP7: rel. freq. (%)', 
          'HecesP8: rel. freq. (%)', 'HecesP9: rel. freq. (%)', 'HecesP10: rel. freq. (%)', 
          'HecesP11: rel. freq. (%)', 'HecesP12: rel. freq. (%)', 'HecesP13: rel. freq. (%)', 
          'HecesP14: rel. freq. (%)', 'AguaP1: rel. freq. (%)', 'AguaP2: rel. freq. (%)', 
          'AguaP3: rel. freq. (%)', 'AguaP4: rel. freq. (%)', 'AguaP5: rel. freq. (%)']]

print(df_all_16SG.info())
display(df_all_16SG.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   p-values                  541 non-null    float64
 1   Level_6                   541 non-null    object
 2   CV: mean rel. freq. (%)   541 non-null    float64
 3   HecesP6: rel. freq. (%)   541 non-null    float64
 4   HecesP7: rel. freq. (%)   541 non-null    float64
 5   HecesP8: rel. freq. (%)   541 non-null    float64
 6   HecesP9: rel. freq. (%)   541 non-null    float64
 7   HecesP10: rel. freq. (%)  541 non-null    float64
 8   HecesP11: rel. freq. (%)  541 non-null    float64
 9   HecesP12: rel. freq. (%)  541 non-null    float64
 10  HecesP13: rel. freq. (%)  541 non-null    float64
 11  HecesP14: rel. freq. (%)  541 non-null    float64
 12  AguaP1: rel. freq. (%)    541 non-null    float64
 13  AguaP2: rel. freq. (%)    541 non-null    float64
 14  AguaP3: rel. freq. (%)    541 non-null    float64
 15  AguaP4: rel. freq. (%)    541 non-null    float64
 16  AguaP5: rel. freq. (%)    541 non-null    float64
dtypes: float64(16), object(1)
memory usage: 72.0+ KB
None

,p-values,Level_6,CV: mean rel. freq. (%),HecesP6: rel. freq. (%),HecesP7: rel. freq. (%),HecesP8: rel. freq. (%),HecesP9: rel. freq. (%),HecesP10: rel. freq. (%),HecesP11: rel. freq. (%),HecesP12: rel. freq. (%),HecesP13: rel. freq. (%),HecesP14: rel. freq. (%),AguaP1: rel. freq. (%),AguaP2: rel. freq. (%),AguaP3: rel. freq. (%),AguaP4: rel. freq. (%),AguaP5: rel. freq. (%)
0,1.781406e-01,Methanobrevibacter,0.000000,0.000000,0.000000,100.000000,0.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
1,0.000000e+00,Actinomyces,0.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.0,0.000000,0.0,0.0,0.000000
2,5.517364e-65,Pseudoalteromonas,99.977827,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
3,2.048128e-53,Rheinheimera,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.0,99.166667,100.0,100.0,99.641577
4,2.078080e-15,Barnesiella,0.856706,37.662338,73.333333,55.831266,53.278689,64.285714,57.264957,61.904762,55.681818,56.470588,0.0,0.000000,0.0,0.0,0.000000

In [79]:
df_all_16SG = df_all_16SG.rename(columns={'Level_6': 'Género',
                            'CV: mean rel. freq. (%)': 'C. virginica',
                            'HecesP6: rel. freq. (%)': 'Familia 1',
                            'HecesP7: rel. freq. (%)': 'Familia 2',
                            'HecesP8: rel. freq. (%)': 'Familia 3',
                            'HecesP9: rel. freq. (%)': 'Familia 4',
                            'HecesP10: rel. freq. (%)': 'Familia 5',
                            'HecesP11: rel. freq. (%)': 'Familia 6',
                            'HecesP12: rel. freq. (%)': 'Familia 7',
                            'HecesP13: rel. freq. (%)': 'Familia 8',
                            'HecesP14: rel. freq. (%)': 'Familia 9',
                            'AguaP1: rel. freq. (%)' : 'Agua de zona de recolecta de CV', 
                            'AguaP2: rel. freq. (%)' : 'Agua casas cercanas al río', 
                            'AguaP3: rel. freq. (%)' : 'Agua de zonas de pastoreo cercanas al río',
                            'AguaP4: rel. freq. (%)' : 'Agua de la boca del río',
                            'AguaP5: rel. freq. (%)' : 'Agua de zonas contaminda por industria'})
print(df_all_16SG.info())
display(df_all_16SG.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 17 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   p-values                                   541 non-null    float64
 1   Género                                     541 non-null    object
 2   C. virginica                               541 non-null    float64
 3   Familia 1                                  541 non-null    float64
 4   Familia 2                                  541 non-null    float64
 5   Familia 3                                  541 non-null    float64
 6   Familia 4                                  541 non-null    float64
 7   Familia 5                                  541 non-null    float64
 8   Familia 6                                  541 non-null    float64
 9   Familia 7                                  541 non-null    float64
 10  Familia 8                                  541 non-null    float64
 11  Familia 9                                  541 non-null    float64
 12  Agua de zona de recolecta de CV            541 non-null    float64
 13  Agua casas cercanas al río                 541 non-null    float64
 14  Agua de zonas de pastoreo cercanas al río  541 non-null    float64
 15  Agua de la boca del río                    541 non-null    float64
 16  Agua de zonas contaminda por industria     541 non-null    float64
dtypes: float64(16), object(1)
memory usage: 72.0+ KB
None

,p-values,Género,C. virginica,Familia 1,Familia 2,Familia 3,Familia 4,Familia 5,Familia 6,Familia 7,Familia 8,Familia 9,Agua de zona de recolecta de CV,Agua casas cercanas al río,Agua de zonas de pastoreo cercanas al río,Agua de la boca del río,Agua de zonas contaminda por industria
0,1.781406e-01,Methanobrevibacter,0.000000,0.000000,0.000000,100.000000,0.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
1,0.000000e+00,Actinomyces,0.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.0,0.000000,0.0,0.0,0.000000
2,5.517364e-65,Pseudoalteromonas,99.977827,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
3,2.048128e-53,Rheinheimera,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.0,99.166667,100.0,100.0,99.641577
4,2.078080e-15,Barnesiella,0.856706,37.662338,73.333333,55.831266,53.278689,64.285714,57.264957,61.904762,55.681818,56.470588,0.0,0.000000,0.0,0.0,0.000000

In [80]:
df_all_16G = pd.concat([df_all_16SG.head(20)])
df_all_16G = df_all_16G.sort_index()
print(df_all_16G.info())
display(df_all_16G.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 17 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   p-values                                   20 non-null     float64
 1   Género                                     20 non-null     object
 2   C. virginica                               20 non-null     float64
 3   Familia 1                                  20 non-null     float64
 4   Familia 2                                  20 non-null     float64
 5   Familia 3                                  20 non-null     float64
 6   Familia 4                                  20 non-null     float64
 7   Familia 5                                  20 non-null     float64
 8   Familia 6                                  20 non-null     float64
 9   Familia 7                                  20 non-null     float64
 10  Familia 8                                  20 non-null     float64
 11  Familia 9                                  20 non-null     float64
 12  Agua de zona de recolecta de CV            20 non-null     float64
 13  Agua casas cercanas al río                 20 non-null     float64
 14  Agua de zonas de pastoreo cercanas al río  20 non-null     float64
 15  Agua de la boca del río                    20 non-null     float64
 16  Agua de zonas contaminda por industria     20 non-null     float64
dtypes: float64(16), object(1)
memory usage: 2.8+ KB
None

,p-values,Género,C. virginica,Familia 1,Familia 2,Familia 3,Familia 4,Familia 5,Familia 6,Familia 7,Familia 8,Familia 9,Agua de zona de recolecta de CV,Agua casas cercanas al río,Agua de zonas de pastoreo cercanas al río,Agua de la boca del río,Agua de zonas contaminda por industria
0,1.781406e-01,Methanobrevibacter,0.000000,0.000000,0.000000,100.000000,0.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
1,0.000000e+00,Actinomyces,0.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,0.0,0.000000,0.0,0.0,0.000000
2,5.517364e-65,Pseudoalteromonas,99.977827,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.000000
3,2.048128e-53,Rheinheimera,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.0,99.166667,100.0,100.0,99.641577
4,2.078080e-15,Barnesiella,0.856706,37.662338,73.333333,55.831266,53.278689,64.285714,57.264957,61.904762,55.681818,56.470588,0.0,0.000000,0.0,0.0,0.000000

In [81]:
# Quitar columnaas 'object'
columnas_muestras_16S = df_all_16SG.columns.difference(['Género', 'p-values'])

# Convertir columnas seleccionadas a numérico (si no lo son)
df_all_16SG[columnas_muestras_16S] = df_all_16SG[columnas_muestras_16S].apply(pd.to_numeric, errors='coerce')

# Ahora sí sumar
df_all_16SG['SumaTotal'] = df_all_16SG[columnas_muestras_16S].sum(axis=1)

# Ordenar de mayor a menor
df_all_16SG = df_all_16SG.sort_values(by='SumaTotal', ascending=False)

# Eliminar la columna auxiliar
df_all_16SG = df_all_16SG.drop(columns='SumaTotal')

print(df_all_16SG.info())

<class 'pandas.core.frame.DataFrame'>
Index: 541 entries, 339 to 308
Data columns (total 17 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   p-values                                   541 non-null    float64
 1   Género                                     541 non-null    object
 2   C. virginica                               541 non-null    float64
 3   Familia 1                                  541 non-null    float64
 4   Familia 2                                  541 non-null    float64
 5   Familia 3                                  541 non-null    float64
 6   Familia 4                                  541 non-null    float64
 7   Familia 5                                  541 non-null    float64
 8   Familia 6                                  541 non-null    float64
 9   Familia 7                                  541 non-null    float64
 10  Familia 8                                  541 non-null    float64
 11  Familia 9                                  541 non-null    float64
 12  Agua de zona de recolecta de CV            541 non-null    float64
 13  Agua casas cercanas al río                 541 non-null    float64
 14  Agua de zonas de pastoreo cercanas al río  541 non-null    float64
 15  Agua de la boca del río                    541 non-null    float64
 16  Agua de zonas contaminda por industria     541 non-null    float64
dtypes: float64(16), object(1)
memory usage: 76.1+ KB
None

In [82]:
columnas_muestras = [
    col for col in df_all_16SG.columns
    if col not in ['p-values', 'Género']  # agrega aquí otras columnas no numéricas si las hay
]

# Calcular la suma total por género
df_all_16SG['SumaTotal'] = df_all_16SG[columnas_muestras].sum(axis=1)


# Seleccionar los 20 géneros con mayor suma
df_top20g = df_all_16SG.nlargest(20, 'SumaTotal')
df_top20g = df_top20g.drop(columns='SumaTotal')
print(df_top20g.info())

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 339 to 98
Data columns (total 17 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   p-values                                   20 non-null     float64
 1   Género                                     20 non-null     object
 2   C. virginica                               20 non-null     float64
 3   Familia 1                                  20 non-null     float64
 4   Familia 2                                  20 non-null     float64
 5   Familia 3                                  20 non-null     float64
 6   Familia 4                                  20 non-null     float64
 7   Familia 5                                  20 non-null     float64
 8   Familia 6                                  20 non-null     float64
 9   Familia 7                                  20 non-null     float64
 10  Familia 8                                  20 non-null     float64
 11  Familia 9                                  20 non-null     float64
 12  Agua de zona de recolecta de CV            20 non-null     float64
 13  Agua casas cercanas al río                 20 non-null     float64
 14  Agua de zonas de pastoreo cercanas al río  20 non-null     float64
 15  Agua de la boca del río                    20 non-null     float64
 16  Agua de zonas contaminda por industria     20 non-null     float64
dtypes: float64(16), object(1)
memory usage: 2.8+ KB
None

In [83]:
filos_a_eliminar_7 = ['unknown_unclassified', 'TM7_genus_incertae_sedis']
df_top20g = df_top20g[~df_top20g['Género'].isin(filos_a_eliminar_7)]

# Asegurar que 'Género' sea índice (solo una vez)
df_top20g.set_index('Género', inplace=True)

# Eliminar columna 'p-values' antes de transponer
df_top20g_T = df_top20g.drop(columns='p-values').T

# Normalizar por filas para que sumen 100%
df_top20g_norm = df_top20g_T.div(df_top20g_T.sum(axis=1), axis=0) * 100

# Identificar los 20 géneros más abundantes
top20_genus = df_top20g_norm.sum(axis=0).sort_values(ascending=False).head(20).index

# Filtrar solo esos géneros
df_top20_genus = df_top20g_norm[top20_genus]

# Agregar columna "Otros"
df_top20_genus["Otros"] = (100 - df_top20_genus.sum(axis=1)).clip(lower=0)

C:\Users\Mijail\AppData\Local\Temp\ipykernel_55416\2070344955.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_top20_genus["Otros"] = (100 - df_top20_genus.sum(axis=1)).clip(lower=0)

In [84]:
print(df_top20_genus.info())
display(df_top20_genus.head())

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, C. virginica to Agua de zonas contaminda por industria
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Bacteroides                15 non-null     float64
 1   Brevundimonas              15 non-null     float64
 2   Shewanella                 15 non-null     float64
 3   Clostridium_sensu_stricto  15 non-null     float64
 4   Clostridium_XI             15 non-null     float64
 5   Lactobacillus              15 non-null     float64
 6   Prevotella                 15 non-null     float64
 7   Flavobacterium             15 non-null     float64
 8   Endozoicomonas             15 non-null     float64
 9   Alistipes                  15 non-null     float64
 10  Psychrobacter              15 non-null     float64
 11  Bifidobacterium            15 non-null     float64
 12  Pseudomonas                15 non-null     float64
 13  Aeromonas                  15 non-null     float64
 14  Escherichia_Shigella       15 non-null     float64
 15  Actinomyces                15 non-null     float64
 16  Dietzia                    15 non-null     float64
 17  Akkermansia                15 non-null     float64
 18  Brevibacterium             15 non-null     float64
 19  Otros                      15 non-null     float64
dtypes: float64(20)
memory usage: 2.5+ KB
None

Género,Bacteroides,Brevundimonas,Shewanella,Clostridium_sensu_stricto,Clostridium_XI,Lactobacillus,Prevotella,Flavobacterium,Endozoicomonas,Alistipes,Psychrobacter,Bifidobacterium,Pseudomonas,Aeromonas,Escherichia_Shigella,Actinomyces,Dietzia,Akkermansia,Brevibacterium,Otros
C. virginica,9.953397,7.066471,9.953397,6.436059,0.000000,1.990679,5.874590,3.074385,0.000000,5.972038,7.196481,3.981359,9.933204,8.889045,2.762795,0.000000,6.967378,2.981343,6.967378,0.000000e+00
Familia 1,5.752765,3.287294,5.752765,5.727147,5.752765,5.752765,5.746669,2.876383,5.752765,5.752765,4.793971,5.752765,5.033670,5.752765,5.752765,5.752765,5.752765,3.501683,5.752765,0.000000e+00
Familia 2,5.958520,5.958520,5.958520,5.958520,5.958520,4.864631,5.943778,5.772316,5.958520,5.958520,5.958520,5.958520,5.958520,0.000000,5.958520,5.958520,0.000000,5.958520,5.958520,1.421085e-14
Familia 3,9.133384,0.000000,0.000000,9.125890,9.133384,8.673650,9.133384,0.000000,0.000000,9.133384,0.000000,9.133384,9.133384,0.000000,9.133384,9.133384,0.000000,9.133384,0.000000,0.000000e+00
Familia 4,5.830916,5.833216,5.833216,5.833216,5.833216,5.626730,5.683646,5.833216,5.833216,5.833216,0.456152,5.833216,5.833216,5.833216,0.737533,5.833216,5.833216,5.833216,5.833216,0.000000e+00

In [85]:
df_top20_genus.to_csv(r'C:\Users\Mijail\Documents\Python\TripleTen\Sprint 7\Proyecto_7\df_top20_genus.csv', index=True)

In [86]:
df_top20_genus = pd.read_csv(r'C:/Users/Mijail/Documents/Python/TripleTen/Sprint 7/Proyecto_7/df_top20_genus.csv')

In [87]:
print(df_top20_genus.info())
display(df_top20_genus.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 15 non-null     object
 1   Bacteroides                15 non-null     float64
 2   Brevundimonas              15 non-null     float64
 3   Shewanella                 15 non-null     float64
 4   Clostridium_sensu_stricto  15 non-null     float64
 5   Clostridium_XI             15 non-null     float64
 6   Lactobacillus              15 non-null     float64
 7   Prevotella                 15 non-null     float64
 8   Flavobacterium             15 non-null     float64
 9   Endozoicomonas             15 non-null     float64
 10  Alistipes                  15 non-null     float64
 11  Psychrobacter              15 non-null     float64
 12  Bifidobacterium            15 non-null     float64
 13  Pseudomonas                15 non-null     float64
 14  Aeromonas                  15 non-null     float64
 15  Escherichia_Shigella       15 non-null     float64
 16  Actinomyces                15 non-null     float64
 17  Dietzia                    15 non-null     float64
 18  Akkermansia                15 non-null     float64
 19  Brevibacterium             15 non-null     float64
 20  Otros                      15 non-null     float64
dtypes: float64(20), object(1)
memory usage: 2.6+ KB
None

,Unnamed: 0,Bacteroides,Brevundimonas,Shewanella,Clostridium_sensu_stricto,Clostridium_XI,Lactobacillus,Prevotella,Flavobacterium,Endozoicomonas,...,Psychrobacter,Bifidobacterium,Pseudomonas,Aeromonas,Escherichia_Shigella,Actinomyces,Dietzia,Akkermansia,Brevibacterium,Otros
0,C. virginica,9.953397,7.066471,9.953397,6.436059,0.000000,1.990679,5.874590,3.074385,0.000000,...,7.196481,3.981359,9.933204,8.889045,2.762795,0.000000,6.967378,2.981343,6.967378,0.000000e+00
1,Familia 1,5.752765,3.287294,5.752765,5.727147,5.752765,5.752765,5.746669,2.876383,5.752765,...,4.793971,5.752765,5.033670,5.752765,5.752765,5.752765,5.752765,3.501683,5.752765,0.000000e+00
2,Familia 2,5.958520,5.958520,5.958520,5.958520,5.958520,4.864631,5.943778,5.772316,5.958520,...,5.958520,5.958520,5.958520,0.000000,5.958520,5.958520,0.000000,5.958520,5.958520,1.421085e-14
3,Familia 3,9.133384,0.000000,0.000000,9.125890,9.133384,8.673650,9.133384,0.000000,0.000000,...,0.000000,9.133384,9.133384,0.000000,9.133384,9.133384,0.000000,9.133384,0.000000,0.000000e+00
4,Familia 4,5.830916,5.833216,5.833216,5.833216,5.833216,5.626730,5.683646,5.833216,5.833216,...,0.456152,5.833216,5.833216,5.833216,0.737533,5.833216,5.833216,5.833216,5.833216,0.000000e+00